


  <div class="container fluid" py-4 >
  <footer class="d-flex flex-wrap justify-content-center align-items-center py-4 m-15  border-top bg-light">
    <p class="col-md-4 mb-0 text-muted">&copy; 2022 Desarrollado por Paulo German Glinka En el Curso de Programacion Web Inicial UTN ☺ </p>
  </footer>
  </div>






