<header class= "container fluid, bg-success  text-dark bg-opacity-25 p-3 bg1" >
    <div class="container ">
        <div class="row">
        <div class="col">
        <div class=" logo">
            <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
            <img src="/public/multimedia/LOGO - Sur Nutri Club negro fondo transparente.png" alt="" width="80px" height="80px">
            <span class="fs-4">   Sur Nutri Club  </span>
        </a>
        </div>
        </div>   
    </div>
</header>
