<header class= "container fluid, bg-success  text-dark bg-opacity-25 p-3 bg1" >
    <div class="container ">
        <div class="row">
        <div class="col">
        <div class=" logo">
            <img src="/public/multimedia/aduki.jpg" alt="">
            <a href="/">Sur Nutri Club</a> 
        </div>
        </div>   
    </div>
</header>
