<nav class=" container fluid py-2 bg-light border-bottom ">
        <div class="container fluid m-2">
        <ul class="nav me-auto">
            <li class="nav-item"><a href="/" class="nav-link link-dark px-2 active" aria-current="page">Inicio</a></li>
            <li class="nav-item"><a href="../productos" class="nav-link link-dark px-2">Productos</a></li>
            <li class="nav-item"><a href="../formulario" class="nav-link link-dark px-2">Contacto</a></li>
            <li class="nav-item"><a href="../sobrenosotros" class="nav-link link-dark px-2">Sobre Nosotros</a></li>
        </ul>
        </div>
    </nav>

