<div class="navbar">
<nav class=" container fluid py-2 bg-light border-bottom ">
        <div class="container fluid m-2">
        <ul class="nav justify-content-end">
            <li class="nav-item fs-6"><a href="/" class="nav-link link-dark px-4 active" aria-current="page">Inicio</a></li>
            <li class="nav-item fs-6" ><a href="../productos" class="nav-link link-dark px-4">Productos</a></li>
            <li class="nav-item fs-6"><a href="../formulario" class="nav-link link-dark px-4">Contacto</a></li>
            <li class="nav-item fs-6"><a href="../sobrenosotros" class="nav-link link-dark px-4">Sobre Nosotros</a></li>
        </ul>

</div>
</nav>
</div>

