<div class= "container fluid " >
    <div class="text-center m-3">
        <hr>
        <h1>{{titulo}}</h1>
        <hr>
    </div>
</div>
<div class="container fluid" m-5>
<form action="" method="post">
    <div class="mb-2">
            <input type="text" class="form-control" name="nombre" placeholder="Nombre">
    </div>
    <div class="mb-2">
            <input type="text" class="form-control" name="apellido" placeholder="Apellido">
    </div>
    <div class="mb-2">
            <input type="text" class="form-control" name="dni" placeholder="DNI">
    </div>
    <div class="mb-2">
            <input type="text" class="form-control" name="telefono" placeholder="Celular">
    </div>
    <div class="mb-2">
            <input type="text" class="form-control" name="email" placeholder="mail">
    </div>
    <div class="mb-2"> 
            <input type="text" class="form-control" name="fecha de nacimiento" placeholder="Fecha de Nacimiento">
    </div>
</form>

</div>