<div class= "container fluid " >
    <div class="m-3 text-center">
        <hr>
        <h1>{{titulo}}</h1>
        <hr>
    </div>
</div>
<div class="container fluid w-50 " >
<form action="" method="post">
<div class="mb-2 ">
        <input type="text" class="form-control" name="nombre" placeholder="Nombre">
</div>
<div class="mb-2">
        <input type="text" class="form-control" name="apellido" placeholder="Apellido">
</div>
<div class="mb-2">
        
        <input type="number" class="form-control" name="dni" placeholder="DNI">
</div>
<div class="mb-2">
        <input type="number" class="form-control" name="telefono" placeholder="Celular">
</div>
<div class="mb-2">   
        <input type="text" class="form-control" name="mail" placeholder="Mail">
</div>
<div class="mb-2"> 
        <input type="date" class="form-control" name="fechadenacimiento" placeholder="Fecha de Nacimiento">
</div>
<div class="mb-3  text-center">
        <input type="submit" class="button btn-success p2 w-50 " value="Enviar" >
</div>
</form>
<div class="text-center validacion" >
        <h2 class="text-danger"> 
        {{ validacion }}
        </h2>
</div>


</div>