<div class= "container fluid" py-4 >
    <div class="text-center m-2">
        <hr>
        <h1>{{titulo}}</h1>
        <hr>
    </div>
</div>


<div class="container fluid">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/public/multimedia/carrussell/240_F_195368815_yIrZn7Oh1z4rdDmGMzITrYn5a28VTiqH.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/public/multimedia/productosorg.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/public/multimedia/quinoa.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>

</div>