<div class= "container fluid" py-4 >
    <div class="text-center fs-7">
        <hr>
        <h1>{{titulo}}</h1>
        <hr>
    </div>
</div>
<div class="container fluid" py-4 >
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./multimedia/carrussell/240_F_255644018_jvRm77Juiq5FGUmvFB1DEDdFST7YGrvp.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="./multimedia/ESPECia recortadaredim.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="./multimedia/carrussell/especias-saludablesrecortada3redim.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>

<div class="contenedorcuadros" >
<div class="container overflow-hidden " >
  <div class="row gy-5">
    <div class="col-6">
    <div>
     <a href="../productos" class="nav-link link-dark px-4 text-center fs-5">Productos
     </div>
      <img src="./multimedia/carrussell/habas.jpg" class="d-block w-100" alt="...">
     </a>
    </div>
    <div class="col-6">
      <div>
      <a href="../formulario" class="nav-link link-dark px-4 text-center fs-5">Contacto
       </div>
       <img src="./multimedia/especias.jpg" class="d-block w-100" alt="...">
      </a>
    </div>
    <div class="col-6">
    <div>
     <a href="../sobrenosotros" class="nav-link link-dark px-4 text-center fs-5">Sobre Nosotros
     </div>
     <img src="./multimedia/especias.jpg" class="d-block w-100" alt="...">
      </a>
    </div>
     <div class="col-6">
    <div>
     <a href="../sobrenosotros" class="nav-link link-dark px-4 text-center fs-5"> Con quien Trabajamos
     </div>
     <img src="./multimedia/especias.jpg" class="d-block w-100" alt="...">
      </a>
    </div>
  </div>
</div>
</div>
  <div class="container flex" py-4 >
    <div class="logochico">
        <a href="/">
            <img src="./multimedia/LOGO - Sur Nutri Club negro fondo transparente.png" alt="" width="60px" height="60px">
        </a>
  </div>
  </div>



