<div class= "container fluid" py-4 >
    <div class="text-center m-2">
        <hr>
        <h1>{{titulo}}</h1>
        <hr>
    </div>
</div>
<div class="container fluid" py-4>
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="./multimedia/carrussell/ESPECia recortadaredim.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 class="container fluid text-center m-2 fs-2" >Gran Variedad en Aceites de Oliva</h5>
        <p>Productos cosechasdos y envasados en origen</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="./multimedia/carrussell/monton-frutos-secos-organicos-frescos-colocados-sobre-mesa-marmolredim.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 class="container fluid text-center m-2 fs-2">Hierbas, Especias y flores secas</h5>
        <p>Experimenta la sensacion de alimentarte con lo organico </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="./multimedia/carrussell/240_F_255644018_jvRm77Juiq5FGUmvFB1DEDdFST7YGrvp.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 class="container fluid text-center m-2 fs-2" >Almendras, nuez, Castañas y mas </h5>
        <p>Amplia variedad de Frutos Secos</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="contenedorcuadros">
<div class="container fluid" py-4 >
<div class="container overflow-hidden">
  <div class="row gy-5">
    <div class="col-6">
      <div class="p-3 border bg-light text-center fs-5 ">Cooperativas</div>
      <img src="./multimedia/carrussell/mixredim.jpg" class="d-block w-100" alt="..." >
    </div>
    <div class="col-6">
      <div class="p-3 border bg-light text-center fs-5">Pequeños Productores </div>
       <img src="./multimedia/carrussell/cooperativa yerbateradedim.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="col-6">
      <div class="p-3 border bg-light text-center fs-5 ">Hierbas</div>
     <img src="./multimedia/carrussell/mixredim.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="col-6">
      <div class="p-3 border bg-light text-center fs-5 ">Proveedores</div>
       <img src="./multimedia/carrussell/habas.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
</div>
</div>
<div class="container flex" py-4 >
    <div class="logochico">
        <a href="/">
            <img src="./multimedia/LOGO - Sur Nutri Club negro fondo transparente.png" alt="" width="60px" height="60px">
        </a>
  </div>
  </div>

